   <nav class="container-fluid bg-white sticky-top ">
    <div class="row text-center fw-bold py-4 mx-5">
      <!-- Logo -->
      <div class="col-3 fs-5 text-start" >
        <a routerLink="" id = 'logo'>LOGO</a>
      </div>
      <!-- tabs -->
      <div class="col p-0"><a href="#">Packages</a></div>
      <div class="col p-0"><a href="#">Offers</a></div>
      <div class="col p-0"><a href="#">Contact Us</a></div>
      <div class="col p-0"><a href="#">Currency($)<i class="bi bi-caret-down-fill"></i></a></div>
      <div class="col p-0"><a href="#">Language(EN)<i class="bi bi-caret-down-fill"></i></a></div>
      <div class="col p-0"><a href="#">Sign In</a></div>
      <div class="col p-0"><a href="#">Sign Up</a></div>
    </div>
  </nav>
